#header{
    padding: 0px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 2.5rem;
}
.nivel {
    display: flex;
}
.num_nivel{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    margin-left: 1rem;
}